<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/ericsson/adapter/log/adapter.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/opt/ericsson/adapter/log/adapter.%i.log.gz</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>200MB</maxFileSize>
		</triggeringPolicy>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="METRICS-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/ericsson/adapter/metrics/adapter-metrics.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/opt/ericsson/adapter/metrics/adapter-metrics.%i.log.gz</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>200MB</maxFileSize>
		</triggeringPolicy>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS},%thread,%level,%msg%n</pattern>
		</encoder>
</appender>

	<logger name="com.ericsson" level="debug"/>
	<logger name="org.apache.sshd" level="info"/>
	<logger name="com.maverick.ssh" level="error"/>
	<logger name="com.maverick.ssh2" level="error"/>

	<logger name="metrics" level="info" additivity="false">
		<appender-ref ref="METRICS-FILE"/>
	</logger>

	<root level="debug">
		<appender-ref ref="FILE" />
	</root>
</configuration>
